Service:
  RegionId: cn-hangzhou
  DeployType: ros
  DeployMetadata:
    ServiceInstanceNameRule:
      Prefix: ragflow-
      UseDefaultValue: true
    SupplierDeployMetadata:
      ArtifactRelation:
        'centos_7_9_x64_20G_alibase_20240403.vhd':
          ArtifactId: ${Artifact.EcsImage.ArtifactId}
          ArtifactVersion: draft
      HelmChartArtifactRelation:
        '{{ computenest::helmchart::quickstart-ragflow-k8s }}':
          ArtifactId: ${Artifact.Artifact_1.ArtifactId}
          ArtifactVersion: draft
      SupplierTemplateConfigs:
      - Name: 单机版
        Url: ros_templates/template.yaml
        AllowedRegions:
        - ap-southeast-1
        PredefinedParameters:
        - Name: 试用套餐
          Parameters:
            EcsInstanceType:
            - ecs.u1-c1m4.xlarge
            PayType: PostPaid
            VpcOption: ExistingVPC
          OrderList:
          - EcsInstanceType
          - PayType
          - VpcOption
          TrialType: TrialOnly
          Type: Normal
      - Name: 容器集群版
        Url: 'ros_templates/template-HA.yaml'
        AllowedRegions:
        - ap-southeast-1
    TemplateConfigs:
    - Name: 单机版
      Url: 'ros_templates/template.yaml'
      AllowedRegions:
      - ap-southeast-1
      PredefinedParameters:
      - Name: 试用套餐
        Parameters:
          EcsInstanceType:
          - ecs.u1-c1m4.xlarge
          PayType: PostPaid
          VpcOption: ExistingVPC
        OrderList:
        - EcsInstanceType
        - PayType
        - VpcOption
        TrialType: TrialOnly
        Type: Normal
      TrialHiddenParameterKeys:
      - VpcId
      - PayPeriod
      - VSwitchId
      - PayPeriodUnit
      - PayType
      CreateFromExistInstanceParameterKeys:
      - VpcId
      - PayPeriod
      - VSwitchId
      - VpcOption
      - PayPeriodUnit
      - PayType
      DeployScene: ECS
    - Name: 容器集群版
      Url: 'ros_templates/template-HA.yaml'
      AllowedRegions:
      - ap-southeast-1
      OutputConfigs:
      - OutputKey: 内网地址
        EnableWebProxy: true
  ServiceType: private
  ServiceInfo:
  - Locale: zh-CN
    Name: RagFlow社区版
    ShortDescription: 
      RAGFlow是一个基于深度文档理解的开源检索增强生成（RAG）引擎，旨在为各种规模的企业提供一个高效的RAG工作流程。 
      通过结合大型语言模型（LLM），RAGFlow能够提供基于证据的、可靠的问答功能，并能够处理来自不同复杂格式数据的引用和引文。
    Image: 
      https://service-info-public.oss-cn-hangzhou.aliyuncs.com/1853370294850618/service-image/df53acbe-c38a-4a86-8c2d-15735a58395b.jpeg
    Softwares:
    - Name: RagFlow
      Version: v0.23.0slim
Artifact:
  EcsImage:
    ArtifactType: EcsImage
    ArtifactName: ragflow
    Description: ragflow
    SupportRegionIds:
    - ap-southeast-1
    ArtifactProperty:
      RegionId: ap-southeast-1
    ArtifactBuildProperty:
      RegionId: ap-southeast-1
      SourceImageId: centos_7_9_x64_20G_alibase_20240403.vhd
      InstanceType: ecs.g6.2xlarge
      InternetMaxBandwidthOut: 100
      SystemDiskSize: 40
      CommandType: RunShellScript
      Timeout: 10800
      CommandContent: |-
        #!/bin/bash
        yum-config-manager --add-repo http://mirrors.aliyun.com/docker-ce/linux/centos/docker-ce.repo
        yum makecache fast
        yum install -y git
        yum -y install docker-ce jq
        systemctl enable docker
        systemctl start docker

        cd /root/
        git clone https://github.com/infiniflow/ragflow.git
        cd ragflow/docker
        docker compose up -d
        sleep 300
        docker compose down

        cat > /etc/systemd/system/ragflow.service <<EOF
        [Unit]
        Description=RagFlow Application Service
        Requires=docker.service
        After=docker.service

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        WorkingDirectory=/root/ragflow/docker
        ExecStart=/usr/bin/docker compose up -d
        ExecStop=/usr/bin/docker compose down
        TimeoutStartSec=0

        [Install]
        WantedBy=multi-user.target
        EOF
  Artifact_1:
    ArtifactType: HelmChart
    ArtifactName: quickstart-ragflow-k8s-helm-chart
    SupportRegionIds:
    - ap-southeast-1
    ArtifactProperty:
      RepoName: ${HelmChartBuilder.HelmChart_1.RepoName}
      Tag: ${HelmChartBuilder.HelmChart_1.Tag}
      RepoType: Public

HelmChartBuilder:
  HelmChart_1:
    HelmChartPath: 'resources/artifact_resources/helm_chart/ragflow-0.1.1.tgz'
    RepoName: ragflow
    Tag: 0.1.1
